<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grammatek.simaromur">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher_app_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="false">

        <uses-library
            android:name="android.test.runner"
            android:required="false" />

        <service
            android:name=".TTSService"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.TTS_SERVICE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.speech.tts"
                android:resource="@xml/tts_engine" />
        </service>

        <activity
            android:name=".TTSManager"
            android:theme="@style/AppTheme.Launcher"
            android:enabled="true"
            android:label="@string/simaromur_manager"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity-alias
            android:name=".EngineSettings"
            android:targetActivity=".TTSManager" />
        <activity-alias
            android:name=".TtsSettingsActivity"
            android:targetActivity=".TTSManager" />

        <activity
            android:name=".DownloadVoiceData"
            android:label="@string/voice_list_update"
            android:theme="@android:style/Theme.Holo"
            android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.speech.tts.engine.INSTALL_TTS_DATA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".VoiceManager"
            android:configChanges="orientation"
            android:label="@string/simaromur_voice_manager"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="android.speech.tts.engine.INSTALL_TTS_DATA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VoiceInfo"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light"
            />
        <activity
            android:name=".CheckSimVoices"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.speech.tts.engine.CHECK_TTS_DATA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GetSampleText"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.speech.tts.engine.GET_SAMPLE_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InfoViewer"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name=".TTSDemo"
            android:configChanges="keyboardHidden|orientation" />

        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="google_analytics_ssaid_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="google_analytics_adid_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="google_analytics_default_allow_ad_personalization_signals"
            android:value="false" />

        <activity
            android:name=".EmailFeedback"
            android:configChanges="keyboardHidden|orientation" />
    </application>

</manifest>
